* { 
  min-width: 0; 
  min-height: 0; 
  font-family: Arial, Helvetica, sans-serif;
  
}
.imageformat{
  object-fit: contain;
  
  }
main{
  max-width: 60%;
  align-items: center;
  border: 5px;
  margin: 0% 25% 0% 25%;
  color:  rgb(84, 155, 198);

}

.main-header {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
  padding: 10px;
  border-bottom: 10px solid #ddeaf3;  
  background-color: rgb(84, 155, 198) ;
  color: #fff;
  text-align: right;
}
.header{
margin-left: 40%;
margin-top: 1%;
font-size: 30px;
}

nav {
  display: flex;
  padding: 10px;  
}
  
nav a {
  color:aliceblue;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  }
 
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  /*background-color: rgb(248, 251, 251);*/
  min-width: 0px;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  width: 612px;
  min-width: none;
  border: 3px solid rgb(134, 183, 228);
  align-items: stretch;
  background-color: aliceblue;
}

.standing-container{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 3px solid rgb(134, 183, 228);
  margin: 4px;
  align-items: stretch;
  min-width: none;
}

.aboutcontainer{
  margin: 10px;;
  background-color: rgb(248, 251, 251);

}

.footer{
text-align: center;
height: 50px;
background-color: #ddeaf3;
padding-left: 250px;
padding-top: 10px;
}

h2{
  text-align: left;
  color:  rgb(134, 183, 228);
  padding: 10px;
}

p{
  text-align: left;
  margin: 10px;
  color:  rgb(134, 183, 228);
  padding: 0px 15px 15px;
}

.text{
  max-width: 150px;
}

.contactlinks{
  text-align: center; 
  text-decoration: none;
  color:rgb(21, 85, 142);
  }

.flex-inner{
  display: flex;
  flex-wrap: wrap;
}

.self{
  align-content: center;
  margin: 10px 250px 10px;
  width: 200px;
  border: 3px solid rgb(134, 183, 228);
}

img{
 align-self: flex-start;
  width: 500%
}
 